<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:url" content="https://utkarshshukla.com/poetry"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Utkarsh Shukla"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:title" content="Utkarsh Shukla Poetry, Professionals Unplugged, Website, Blogs, Photography, Evangelist, Numismatics, Poems"/>
  <meta property="og:description" content="Utkarsh Shukla's poetry, poems, Professionals Unplugged, website, blogs, photography, evangelist, numismatics"/>
  <meta property="og:image" content="https://www.utkarshshukla.com/static/assets/img/utkarshshukla.jpg"/>
  <meta name="keywords" content="Utkarsh Shukla poems, poetry, blogs, evangelist, Professionals Unplugged, host, numismatics, website, nerdybio, metaverse, IPL Dashboard, chatGPT, photography, cloud, developer, software engineer, consultant, love poems, poetries. poems about love"/>
  <title>Utkarsh Shukla Poetry | Poems</title>
  <meta name="author" content="Utkarsh Shukla">

  <!-- Favicons -->
  <link rel="icon" href="/static/assets/img/utkarshshukla.jpg">
  <link rel="apple-touch-icon" href="/static/assets/img/apple-touch-icon.png">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="/static/assets/vendor/aos/aos.css">
  <link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/assets/vendor/boxicons/css/boxicons.min.css">
  <link rel="stylesheet" href="/static/assets/vendor/glightbox/css/glightbox.min.css">
  <link rel="stylesheet" href="/static/assets/vendor/swiper/swiper-bundle.min.css">

  <!-- Template Main CSS File -->
     <link rel="stylesheet" href="/static/assets/css/style.css">
 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7889950198325163"
     crossorigin="anonymous"></script>
</head>


<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/assets/img/utkarshshuklawebsite.jpg" alt="Utkarsh Shukla" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Utkarsh Shukla</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.youtube.com/@ProfessionalsUnplugged" class="linkedin" target="_blank"><i class="bx bxl-youtube"></i></a>
          <a href="https://www.linkedin.com/in/utkarsh-shukla-1520a8255/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/Utkarsh731" class="Github" target="_blank" ><i class="bx bxl-github"></i></a>
          <a href = "mailto: uttkarsh.shuklas1996@gmail.com" target="_blank"><i class="bi bi-envelope-fill"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/" class="nav-link scrollto active" ><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <main id="main">

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Poetry</h2>
          <h4>Poems are the soul of literature; they use the right words to describe emotions and make the listener or reader feel something about the words.</h4>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-hindi">Hindi</li>
              <li data-filter=".filter-english">English</li>
            </ul>
          </div>
        </div>
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
           <div class="col-lg-4 col-md-6 portfolio-item filter-english">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/poetry/pain_poem_utkarsh_shukla.jpeg" class="img-fluid" alt="Pain">
              <div class="portfolio-links">
                <a href="/static/assets/img/poetry/pain_poem_utkarsh_shukla.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Pain"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
           <div class="col-lg-4 col-md-6 portfolio-item filter-hindi">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/poetry/Jo_lootna_ho_poem_sifr_ka_aks.jpeg" class="img-fluid" alt="Jo Lootna Ho">
              <div class="portfolio-links">
                <a href="/static/assets/img/poetry/Jo_lootna_ho_poem_sifr_ka_aks.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Jo Lootna Ho"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
              <div class="col-lg-4 col-md-6 portfolio-item filter-english">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/poetry/fall_poem_utkarsh_shukla.jpeg" class="img-fluid" alt="Utkarsh Shukla Poem: Fall">
              <div class="portfolio-links">
                <a href="/static/assets/img/poetry/fall_poem_utkarsh_shukla.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Fall"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-english">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/poetry/silence_of_dawn_poem_utkarsh_shukla.jpeg" class="img-fluid" alt="Utkarsh Shukla Poem: Silence Of Dawn">
              <div class="portfolio-links">
                <a href="/static/assets/img/poetry/silence_of_dawn_poem_utkarsh_shukla.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Silence Of Dawn"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-hindi">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/poetry/subah_poem_utkarsh_shukla.jpeg" class="img-fluid" alt="Utkarsh Shukla Poem: Subah ki sard pawan">
              <div class="portfolio-links">
                <a href="/static/assets/img/poetry/subah_poem_utkarsh_shukla.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Subah ki sard pawan"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 portfolio-item filter-english">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/poetry/in_the_end_poem_utkarsh_shukla.jpeg" class="img-fluid" alt="Utkarsh Shukla Poem: In The End">
              <div class="portfolio-links">
                <a href="/static/assets/img/poetry/in_the_end_poem_utkarsh_shukla.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="In the End"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

                   <div class="col-lg-4 col-md-6 portfolio-item filter-hindi">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/poetry/intezaar_poem_utkarsh_shukla.jpeg" class="img-fluid" alt="Utkarsh Shukla Poem: Intezaar">
              <div class="portfolio-links">
                <a href="/static/assets/img/poetry/intezaar_poem_utkarsh_shukla.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Intezaar"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-english">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/poetry/running_world_poem_utkarsh_shukla.jpeg" class="img-fluid" alt="Utkarsh Shukla Poem: Running World">
              <div class="portfolio-links">
                <a href="/static/assets/img/poetry/running_world_poem_utkarsh_shukla.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Running World"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
<div class="col-lg-4 col-md-6 portfolio-item filter-hindi">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/poetry/udhav_prasad_shukla_poem.jpeg" class="img-fluid" alt="Udhav Prasad Shukla Poem">
              <div class="portfolio-links">
                <a href="/static/assets/img/poetry/udhav_prasad_shukla_poem.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Udhav Prasad Shukla Poem"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
                   <div class="col-lg-4 col-md-6 portfolio-item filter-english">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/poetry/modern_world_poem_utkarsh_shukla.jpeg" class="img-fluid" alt="Utkarsh Shukla Poem: Modern World">
              <div class="portfolio-links">
                <a href="/static/assets/img/poetry/modern_world_poem_utkarsh_shukla.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Modern World"><i class="bx bx-plus"></i></a>


              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
            <br>
          <h2>Contact</h2>
            <br>
          <p>
            In the end, it is all about Connecting and Knowledge sharing. I hope you all have liked my website.<br>
If you have any suggestions or queries feel free to connect with me.<br>
I will be happy to help and have a discussion on any of them.<br>
You can also ping me if you require any consulting or web-related query.<br><br>
              My social media handlers for some popular sources to connect with are: <br><br>
              Email : <a href = "mailto: uttkarsh.shuklas1996@gmail.com" target="_blank" ><i class="bi bi-envelope-fill"></i></a><br><br>
              LinkedIn : <a href = "https://www.linkedin.com/in/utkarsh-shukla-1520a8255/" target="_blank" ><i class="bi bi-linkedin"></i></a><br><br>
              GitHub : <a href = "https://github.com/Utkarsh731" target="_blank"><i class="bi bi-github"></i></a><br><br>
              Instagram : <a href = "https://www.instagram.com/utkars_shukla/" target="_blank"><i class="bi bi-instagram"></i></a><br><br>
               Photography : <a href = "https://www.pexels.com/@utkarsh-shukla-204757820/" target="_blank"><i class="bi bi-camera-fill"></i></a>

          </p><br><br>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        <br>Re-Designed by <a href="https://utkarshshukla.com/">Utkarsh Shukla</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>
