<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

            <meta property="og:url" content="https://utkarshshukla.com/"/>
            <meta property="og:type" content="website"/>
            <meta property="og:site_name" content="Utkarsh Shukla" />
            <meta property="og:locale" content="en_US" />
            <meta property="og:title" content="Utkarsh Shukla Website, blogs, photography, evangelist, numismatics | Utkarsh Shukla"/>
            <meta property="og:description" content="Utkarsh Shukla website, blogs, photography, evangelist, numismatics"/>
            <meta property="og:image" content="https://www.utkarshshukla.com/static/assets/img/utkarshshukla.jpg"/>
            <meta name="keywords" content="utkarsh shukla, utkarsh shukla blogs, utkarsh shukla evangelist, utkarsh shukla numismatics, utkarsh shukla website, nerdybio , nerdy bio, metaverse, IPL Dashboard, Utkarsh Shukla chatGPT, Utkarsh Shukla Photography, Utkarsh Shukla cloud, Utkarsh Shukla develper, Utkarsh Shukla Software engineer, Utkarsh Shukla consultant" />
  <title>Utkarsh Shukla | Utkarsh Shukla Evangelist</title>
  <meta content="Utkarsh Shukla" name="author">

  <!-- Favicons -->
  <link href="/static/assets/img/utkarshshukla.jpg" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/assets/img/utkarshshuklawebsite.jpg" alt="Utkarsh Shukla" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Utkarsh Shukla</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.instagram.com/utkars_shukla/?hl=en" class="instagram" target="_blank" alt="Utkarsh Shukla Instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/utkarsh-shukla-1520a8255/" class="linkedin" target="_blank" alt="Utkarsh Shukla LinkedIn"><i class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/Utkarsh731" class="Github" target="_blank" alt="Utkarsh Shukla Github"><i class="bx bxl-github"></i></a>
          <a href = "mailto: uttkarsh.shuklas1996@gmail.com" target="_blank" alt="Utkarsh Shukla"><i class="bi bi-envelope-fill"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/" class="nav-link scrollto active" alt="Utkarsh Shukla Website"><i class="bx bx-home"></i> <span>Home</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <main id="main">

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Photography</h2>
          <p>Photograhy is something in which I was indulged since my childhood. Generally I click nature or animals, and sometimes humans also.</p>
          <p>Checkout my Photography Collection at - <a href="https://www.pexels.com/@utkarsh-shukla-204757820/" target="_blank">Utkarsh Shukla Photography</a></p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-random">Random</li>
              <li data-filter=".filter-bird">Birds</li>
              <li data-filter=".filter-flower">Flowers</li>
              <li data-filter=".filter-animal">Animals</li>
            </ul>
          </div>
        </div>
  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-random">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/utkarshshuklabutterfly.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/utkarshshuklabutterfly.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Butterfly"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-random">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/utkarshshuklacity.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/utkarshshuklacity.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="City"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-random">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/utkarshshuklamoon.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/utkarshshuklamoon.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Moon"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-random">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/utkarshshuklanature.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/utkarshshuklanature.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Nature"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-random">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/utkarshshuklanightview.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/utkarshshuklanightview.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Night"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-bird">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/utkarshshuklaphotobirds.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/utkarshshuklaphotobirds.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Birds"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-bird">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/peacock.JPG" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/peacock.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Peacock"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-bird">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/birds.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/birds.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ducks"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-flower">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/whiteflower.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/whiteflower.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="White Flower"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-flower">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/whiteflowers.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/whiteflowers.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Bunch of Flowers"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-flower">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/butterflyflower.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/butterflyflower.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Butterfly Flower"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-animal">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/rabbit.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/rabbit.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Rabbit"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-animal">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/dog.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/dog.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dog"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-animal">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/rhino.jpg" class="img-fluid" alt="Utkarsh Shukla Photography">
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/rhino.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Rhinoceros"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
            <br>
          <h2>Contact</h2>
            <br>
          <p>
            In the end, it is all about Connecting and Knowledge sharing. I hope you all have liked my website.<br>
If you have any suggestions or queries feel free to connect with me.<br>
I will be happy to help and have a discussion on any of them.<br>
You can also ping me if you require any consulting or web-related query.<br><br>
              My social media handlers for some of the popular sources to connect with are: <br><br>
              Email : <a href = "mailto: uttkarsh.shuklas1996@gmail.com" target="_blank" alt="Utkarsh Shukla website"><i class="bi bi-envelope-fill"></i></a><br><br>
              LinkedIn : <a href = "https://www.linkedin.com/in/utkarsh-shukla-1520a8255/" target="_blank" alt="Utkarsh Shukla linkedin"><i class="bi bi-linkedin"></i></a><br><br>
              GitHub : <a href = "https://github.com/Utkarsh731" target="_blank" alt="Utkarsh Shukla Github"><i class="bi bi-github"></i></a><br><br>
              Instagram : <a href = "https://www.instagram.com/utkars_shukla/" target="_blank" alt="Utkarsh Shukla Instagram"><i class="bi bi-instagram"></i></a><br><br>
               Photography : <a href = "https://www.pexels.com/@utkarsh-shukla-204757820/" target="_blank" alt="Utkarsh Shukla Photography"><i class="bi bi-camera-fill"></i></a>

          </p><br><br>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        <br>Re-Designed by <a href="https://utkarshshukla.com/">Utkarsh Shukla</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>